
body {
    background-image: url("pexels-pixabay-41949.jpg");
    background-size: cover;
        background-position: center;
        height: 100vh;
}

h1{
    text-align: center;
    font-size: 55px;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 25px;

    border-radius: 15px;
     
}

h2{
    margin: 0;
    font-size: 26px;
}
.date{
    opacity: 0.8;
}

.city{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.time{
    font-size: 40px;
    font-weight: bold;

}
.time small{
    font-size:18px;
    vertical-align: middle;
}
select{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;

}
a{
    color:mediumslateblue;
}
footer{
    text-align: center;
    padding: 30px;
    color: cornsilk;
}